/* Start common */
body {
  background: #e7ebf2;
  overflow-x: hidden;
  padding-top: 58px;
  font-family: 'Tahoma', sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 20px; }

#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: #fff; }

.required {
  color: #f00; }

table {
  table-layout: fixed;
  overflow: break-word; }

.fa-map-marker {
  color: #00A80C; }

.house-info {
  color: #00A80C;
  font-weight: bold; }

.house-id {
  color: #f00; }

.jumbotron {
  background-color: #fff; }

.not-found-text {
  line-height: 30px; }

/* End common */
/* Start footer */
#footer {
  background: #222428;
  color: #e5e5e5;
  padding: 20px 0 50px; }
  #footer .company-intro {
    text-align: center; }
  #footer .fa-phone {
    color: #00A80C; }
  #footer .info {
    font-size: 16px;
    line-height: 30px; }

/* End footer */
/* Start top navbar */
.navbar-principal {
  background-color: #fff; }

.navbar-btn {
  margin-left: 5px; }

.navbar-toggle {
  background-color: #fff; }

#navbar .dropdown {
  background-color: #fff; }
  #navbar .dropdown a:hover {
    background-color: #EBEBEB; }
  #navbar .dropdown .dropdown-toggle {
    color: #055699; }

#navbar .dropdown-menu a:hover {
  background-color: #055699;
  color: #fff; }

.create-post a {
  color: #00A80C !important; }

.create-post a:hover {
  color: #055699 !important; }

/* End top navbar

/* Start navbar-form */
@media screen and (max-width: 767px) {
  .navbar .navbar-form {
    width: 200px;
    padding-left: 0;
    padding-right: 0; } }

@media screen and (min-width: 768px) {
  .navbar .navbar-form {
    width: 250px; } }

.navbar .navbar-form {
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  border: 0;
  box-shadow: none; }

/* End navbar-form */
/* Start back to top button */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba(232, 98, 86, 0.8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s 0s, visibility 0s .3s; }

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  transition: opacity .3s 0s, visibility 0s 0s; }

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1; }

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5; }

.no-touch .cd-top:hover {
  background-color: #e86256;
  opacity: 1; }

@media screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px; } }

@media screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px; } }

.panel-auth .panel-heading {
  background-color: #055699;
  text-align: center;
  text-transform: uppercase; }

.panel-auth h1 {
  color: #fff;
  font-size: 18px;
  margin: 0;
  padding: 0; }

.panel-auth hr {
  margin-top: 0;
  margin-bottom: 0;
  border-color: #00A80C; }

/*# sourceMappingURL=app.css.map */
